@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Flicker.Models.Image

<h2>@Html.DisplayFor(model => model.Title)</h2>
<h3>@Html.DisplayFor(model => model.Description)</h3>

<img src=@Html.DisplayFor(model => model.Url) />
