@model IEnumerable<Flicker.Models.Image>

@{
    ViewData["Title"] = "Flicker - All Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Images</h2>

<table class="table">

    @foreach (var listImage in Model)
    {
        @listImage.Title  @listImage.Description
        <img src=@listImage.Url />
    }
</table>

@Html.ActionLink("Add new Image", "Create")